html {
  background: #000;
}
body {
  margin: 0;
  padding: 0;
  font: bold min(3vw, 3vh) sans-serif;
  color: #fff;
  line-height: 150%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  user-select: none;
}
svg {
  display: none;
}
#B {
  position: fixed;
  padding: 0.5em 0.75em;
  max-width: 90vw;
  background: #fff;
  color: #111;
  border-radius: 0.25em;
  display: none;
}
#BP {
  position: absolute;
  left: calc(50% - 1em);
  bottom: -0.9em;
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 1em solid #fff;
}
ol {
  margin: 0;
  padding: 0 0 0 1em;
}
a {
  color: #111;
}
#I,
#M {
  content: "&npsp;";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#I {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.25em;
}
#M {
  display: none;
  background: #000;
  top: 0;
  padding: 45vh 0 0;
}
